{% extends 'maincontent.html' %}

{% block  content %}
<h1>Editar Publicador</h1>
    <form method="POST" action="updP">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ publicador.id }}">
        <label for="titulo">Nombre: </table>
        <input type="text" name="nombre" value="{{ publicador.nombre }}"><br>
        <label for="libros">Libros: </table><br>
            <select name="libros" required multiple>
                {% for libro in lista_libros %}
                    <option value="{{ libro.id }}">{{ libro.titulo }}</option>
                {% endfor %}
            </select><br><br>
        <input type="submit" value="Actualizar datos">
    </form><br>
    <a href="libros_publicadores" role="button">Volver</a>
{% endblock %}